<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="firstPage.css" />
</head>
<body>
<h1>Your Weather</h1>
<form action = "/currentWeather" method="get">
    <input class="form_text" type="text" name="cityName" style="color:LightGray" value="np.Gdańsk">
    <input class="button" type="submit" value="Wyszukaj">
</form>
    <img src="thirdPicture.jpg" alt="firstPage" style="width:100%;height:100%; display: block;">

</body>
</html>